{% extends 'gestion/base.html' %}
{% load i18n %}


{% block contents %}
<form enctype="multipart/form-data" id="form" method="POST">
 {% csrf_token %}
  {% if not clonage %}
 <input name="numero" type="hidden" value="{{ numero }}"/>
 {% endif %}
 <table class="deux-colonnes-formulaire tableau_prets">
  {{ form.as_table }}
  <tr>
   <td colspan="2">
    <input name="modif_db" style="width: 100%;" type="submit" value="{% translate 'Enregistrer' %}"/>
   </td>
  </tr>
 </table>
</form>
<script>
 constantes_modif_init()
</script>
{% if saved %}
<script>
 signale_saved()
</script>
{% endif %}
{% endblock %}

