{% extends 'gestion/base.html' %}
{% load i18n %}


{% block contents %}
<form id="form" method="POST">
 {% csrf_token %}
  {% if not clonage %}
 <input name="numero" type="hidden" value="{{ numero }}"/>
 {% endif %}
 <table class="deux-colonnes-formulaire">
  {{ form.as_table }}
  <tr>
   <td colspan="2">
     <input name="modif_db" style="width: 100%;" type="submit"
	    value="{% translate 'Enregistrer' %}"/>
   </td>
  </tr>
 </table>
</form>
{% if saved %}
<script>
 signale_saved()
</script>
{% endif %}
{% endblock %}

