{% load i18n %}
<h3 class="dialogtitle">{{ eleve.NomPrenomEleve }} {% translate "devrait emprunter :" %}</h3>
<ol class="liste-livres">
  {% for l in livres %}
  <li class="{% if l.abrege == 'poche' %}poche{% else %}manuel{% endif %}">
    {{ l }}
  </li>
  {% endfor %}
</ol>
